*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-color: rgb(255, 255, 255);
 
}
ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

nav
{
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
   height: 2px;
}

nav ul
{
    
    display: flex;
 
}

nav ul li
{
    margin-right: 25px;
    margin-left: 25px;
}

nav ul li a
{
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.logo a
{
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.logo a:hover
{
    text-shadow: 1px 0px 0px black;
}

nav ul li a:hover
{
    color: rgb(255, 168, 39);
    text-decoration: underline;
    
}

header
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    
    height: 90vh;
    background-image: url(imagenes/bg.svg);
    background-repeat: no-repeat;
    background-position: 1000px ;
}

.texto1
{
    margin-top: 200px;
    margin-left: 130px;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 30vh;
}
.texto1 h2
{

    
    
    margin-bottom: 20px;
    font-size: 70px;
}

.texto1 p
{
    font-size: 25px;
    
}
.imagen1
{
    margin-top: 70px;
}
.imagen1 img
{
    width: 40vw;
    height: 75vh;
}
.texto1 a
{
    margin-top: 20px;
}

.button
{
    border: 1px solid rgb(255, 168, 39);
    background-color: rgb(255, 168, 39);
    font-size: 20px;
    
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.button:hover
{
    border: 1px solid rgb(255, 168, 39);
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: rgb(255, 168, 39);
    text-decoration: none;
}

.cartas-info
{
    margin-top: -120px;
}

.contenedor-cartas
{
    display: flex;
    justify-content: space-evenly;
}
.logo-carta
{
    width: 90px;
}
.carta
{
 border: 2px solid rgba(0, 0, 0, 0.521);
 width: 250px;
 height: 250px;
 padding: 20px;
 border-radius: 8px;
 background-color: rgb(250, 235, 215);
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 box-shadow: -5px 0px 5px  rgba(0, 0, 0, 0.671);
}

.subtitulo-carta
{
    font-size: 30px;
}

.info-carta
{
    font-size: 20px;
}

.cont-principal
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
}
.texto2
{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto2 h3
{
    font-size: 70px;
    border-bottom: 2px solid black;
    margin-bottom: 30px;
}

.texto2 p
{
    font-size: 30px;
    width: 50vw;
}

.imagen-producto{
    width: 300px;
    height: 270px;
    width: 100%;
    margin-top: -23px;
    border-radius: 6px;
    
}

.carta-producto
{
    background-color: rgb(250, 235, 215);
    border: 1px solid rgba(0, 0, 0, 0.521);
    border-radius: 8px;
    
    width: 350px;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    margin-bottom: 70px;
    box-shadow: 0px 0px  10px rgba(0, 0, 0, 0.658);

}

.carta-producto h4
{
    font-size: 30px;
    margin-top: -20px;
}

.carta-producto p
{
    font-size: 20px;
    margin-top: -30px;
}
.cartas-producto
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contiene3
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cartas-productos
{
    width: 80vw;
}

.formulario
{
    width: 700px;
    padding: 20px;
    background-color: rgb(250, 235, 215);
    border-radius: 5px;
    height: 380px;
    margin: auto;
    margin-top: 100px;
}

.formulario h4
{

    margin-bottom: 25px;
    font-size: 25px;
}

.botones-form
{
    width: 100%;
    margin-bottom: 16px;
    padding: 10px;
    border-radius: 5px;
}

.btn-enviar
{
    padding: 10px;
    background-color: rgba(219, 219, 219, 0.603);
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
}

.footer
{
    width: 100%;
    height: 150px;
    background-color: rgb(255, 166, 0);
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contacto-footer
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.897);
    font-size: 20px;
    margin-bottom: 10px;
}

.contactos
{
    display: flex;
    flex-direction:row;
   
}

.contactos h5
{
    
    margin: 10px;
    
}

.contactos h5 a
{
    font-size: 25px;
}

.contactos h5 a:hover
{
    text-decoration: underline;
}
.copy h5
{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.897);
    border-bottom: 1px solid rgb(255, 255, 255);
}